<p>Olá <%= @resource.email %>!</p>
<p>Alguém requisitou um link para alterar a tua senha. Podes fazer isso através do link abaixo.</p>
<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se não requisitaste isso, por favor ignore este email.</p>
<p>A tua senha não será alterada a menos que acesses o link acima e cries uma nova.</p>